@(v: lila.ladder.LadderView, lads: Paginator[lila.ladder.LadWithUser])(implicit ctx: Context)

<table class="slist standing">
  <thead>
    <tr>
      <th class="large" colspan="3">Challengers</th>
    </tr>
  </thead>
  <tbody class="infinitescroll">
    @lads.nextPage.map { nextPage =>
    <tr><th class="pager none">
        <a href="@routes.Ladder.show(v.ladder.id, nextPage)">Next</a>
    </th></tr>
    }
    @lads.currentPageResults.map { l =>
    <tr class="paginated_element">
      <td>@l.lad.pos.</td>
      <td>@userLink(l.user)</td>
    </tr>
    }
  </tbody>
</table>
